canvas {
  background-color: rgb(201, 196, 201);
  border: 3px solid black;
}
#canvas-container {
  width: 100%;
  text-align: center;
}
#startGame:hover,
#reStartGame:hover,
#continueBtn:hover,
#replayBtn:hover {
  transform: scale(0.9);
  transition: 0.1s ease;
}
#loading {
  position: absolute;
  height: 98%;
  width: 99%;
  background-color: rgba(131, 55, 55, 0.5);
  text-align: center;
  font-size: 60px;
  font-family: "Ubuntu", sans-serif;
}
#loadingText {
  margin-top: 300px;
}
